#title {
    background-image: linear-gradient(to right, red 33.33%, blue 33.33%, blue 66.66%, green 66.66%);
    text-shadow: 2px 2px black;
    font-family: 'Erica One', cursive;
    font-size: 80px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#main-title {
    margin-top: 20px;
}

#search-btn, #user-search {
    margin-top: 10px;
}

.topic-button {
    margin: 10px;
}

#gif-div {
    background-color: wheat;
}

#generated-gif {
    margin: 10px;
}